/* здесь используйте глобальные переменные */
$basic-black: #333333;
$basic-grey: #bdbdbd;
$light-grey: #e2e2e2;
$white-color: #ffffff;
$primary-color: #7859cf;
$primary-dark-color: #593cac;
$primary-light-color: #9070ec;
$primary-opasity-color: rgba(120, 89, 207, 0.25);
$secondary-color: #f0ebff;
$bacground-espresso: #e5e6e8;
$bacground-lavender: #eae6fc;
$bacground-flat-white: #f3ebe1;
$bacground-light-grey: #f8f8f8;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$primary-font: "Montserrat", "Arial", sans-serif;
