.catalog__select-wrapper {
  @include flex-between;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    width: 281px;
    margin-left: auto;
    margin-bottom: 26px;
  }
}

.catalog__select {
  display: block;
  width: 162px;
  font-family: $primary-font;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  background-color: transparent;
  color: $primary-color;
  border: none;
  padding: 4px 27px 4px 10px;
  appearance: none;
  background-image: url("../../icons/select-icon.svg");
  background-position: right 7px center;
  background-size: 10px 6px;
  background-repeat: no-repeat;

  &:focus,
  &:focus-visible,
  &:hover {
    outline: none;
    background-color: $secondary-color;
  }

  &:active {
    background-color: transparent;
    background-image: url("../../icons/select-icon-rotate.svg");
  }
}

.catalog__select-legend {
  @include reset;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600px;
}

.catalog__product-list {
  @include flex-between;
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
