.main-features__item {
  text-align: center;
}

.main-features__heading {
  @include reset;
  position: relative;
  font-size: 18px;
  line-height: 32px;
  padding-top: 66px;
  margin-bottom: 4px;

  &::before {
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;

    @media (min-width: $tablet-width) {
      left: 0;
      right: auto;
    }

    @media (min-width: $desktop-width) {
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &--speed::before {
    background-image: url("../../icons/speed-icon.svg");
  }

  &--size::before {
    background-image: url("../../icons/size-icon.svg");
  }

  &--energy::before {
    background-image: url("../../icons/energy-icon.svg");
  }

  &--eco::before {
    background-image: url("../../icons/eco-icon.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: start;
    padding-top: 0;
    padding-left: 74px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-top: 71px;
    padding-left: 0;
  }
}

.main-features__description {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 16px;
    line-height: 24px;
    padding-left: 76px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-left: 0;
  }
}

.advantages__item {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}
