.main-map__image {
  min-width: 320px;
  height: 420px;
  background-image:
    image-set(url("../../images/map-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/map-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/map-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../images/map-mobile@2x.jpg") type("image/jpeg") 2x);
  background-color: $light-grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    height: 480px;
    background-image:
      image-set(url("../../images/map-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/map-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/map-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map-tablet@2x.jpg") type("image/jpeg") 2x);
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 540px;
    background-image:
      image-set(url("../../images/map-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/map-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/map-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map-desktop@2x.jpg") type("image/jpeg") 2x);
  }
}
